main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 350px;
  padding: 40px 10px;
  margin: 40px 10px;
}
.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.navbar {
  background-color: #d83a56 !important;
}

.open-button {
  opacity: 0.8;
  position: fixed;
  bottom: 50px;
  right: 28px;
  z-index: 999;
  background-color: #129bf4;
  color: #fff;
  line-height: 55px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 23px;
  width: 55px;
  height: 55px;
  text-align: center;
  box-shadow: 2px 2px 8px -3px #000;
  border-radius: 100%;
}

.chat-popup {
  position: fixed;
  bottom: 105px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

.freq {
  font-family: "Roboto", sans-serif !important;
  text-transform: none !important;
}
